old_simulations/
writeups/proposal_presentation/prompts.md
writeups/reweight_samples/reweight.qmd
*/week1.qmd
*.jpg
*.pdf
writeups/proposal_presentation/prompts_files
analysis/.discard/*
*__pycache__
writeups/*_files/
.env/
*.pyc
.env/
writeups/model_desciptions_files
writeups/results_files
writeups/week1_files
docs/
analysis/eight_schools/executables/
Sim_SV.R
.Rprofile
*.html
.python-version
renv.lock
figures/
simulation_output/
renv/
*.out
notes.md
data/
Icon?
.DS_Store
models/executables/
writeups/results_files/

# Output directory
output/*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

renv/Icon
*/Icon\r"
"Icon\r"
analysis/gauss_mix/results/results_real_data.rds
manuscript/main.aux
manuscript/main.bbl
manuscript/main.blg
manuscript/main.fls
manuscript/main.fdb_latexmk
manuscript/main.run.xml
manuscript/main.log
manuscript/main.synctex.gz
manuscript/main (1).aux
.gitignore
manuscript/main (1).log
manuscript/main.toc
writeups/new_ncp/
.luarc.json
manuscript/main (1).fdb_latexmk
*.csv
main*
*.js
*.css
*.parquet
*.woff
/.luarc.json
manuscript/feedback/feedback.qmd
manuscript/feedback/final_meeting.qmd
manuscript/final_presentation/presentation_notes.qmd
manuscript/final_presentation/presentation.qmd
manuscript/final_presentation/prompts.qmd
models/sv_user_guide_reparameterised_ksc_priors
writeups/research_proposal/propsal.aux
writeups/research_proposal/propsal.fdb_latexmk
writeups/research_proposal/propsal.log
writeups/research_proposal/propsal.fls
writeups/research_proposal/propsal.synctex.gz
.gitignore
